body {
  padding-left: em;
  font-family: Felix Titling, "Times New Roman",
        Times, serif;
  color: red;
  background-color: #1E90FF }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: ;
  margin: em 0;
  padding: 0.3em;
  border-right: }
ul.navbar a {
  text-decoration: none }
a:link {
  color: red}
a:visited {
  color:green }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }